@font-face {
    font-family: 'Galaxy-Force';
    src: url('font/Galaxy-Force.ttf.woff') format('woff'), url('font/Galaxy-Force.ttf.svg#Galaxy-Force') format('svg'), url('font/Galaxy-Force.ttf.eot'), url('font/Galaxy-Force.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Galaxy-Force', Geneva, Tahoma, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 100;
    font-size: 50px;
    margin: 30px;
}

button {
    font-family: 'Galaxy-Force', Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: greenyellow;
    background-color: #000;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    background-color: #000;
    border-bottom: 2px solid white;
    padding-top: 10px;
    min-height: 50px;
    max-height: 150px;
    text-align: center;
}

header h1 {
    font-size: 75px;
    font-weight: normal;
}

.success {
    font-size: 25px;
    color: green;
    font-weight: 100;
}

#showcase {
    font-size: 50px;
    text-align: center;
    background: url("images/kosmos.jpg") -625px -800px;
    min-height: 800px;
    background-repeat: no-repeat;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
}

#scp,
#scu,
#sci,
#sco,
#sap,
#sau,
#sao {
    min-height: 200px;
    border-bottom: 2px solid white;
    text-align: center;
}

footer {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

table,
th,
td {
    border: 2px solid #007200;
    padding: 2px;
    font-size: 22px;
    font-weight: 100;
    color: #5e60ce;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table a {
    color: #72efdd;
    font-weight: 900;
    text-transform: uppercase;
}

table a:visited {
    color: white;
}

table a:focus {
    color: #A69CAC;
}


/* Button */


/*-----NAV MENI-----*/

nav {
    font-family: 'Galaxy-Force', Geneva, Tahoma, sans-serif;
    top: 0px;
}

nav a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: #A69CAC;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    transition: 0, 4;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

nav li:hover .submenu>li {
    display: block;
    top: 0px;
    z-index: 200;
}

.submenu li {
    display: none;
}

.submenu li a {
    background-color: white;
    color: black;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

nav a:hover {
    background-color: #6D466B;
}


/*RESPONZIVAN SAJT*/

@media (max-width: 1315px) {
    #branding {
        float: none;
        text-align: center;
        width: 100%;
    }
    nav ul {
        display: block;
    }
    nav {
        position: static;
    }
    #showcase {
        background: url("images/showcase.jpg") no-repeat center;
        display: block;
    }
}